<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bswill.mapper.LeavesMapper">
	<!-- 휴가 신청 목록 조회 -->
	<select id="leaveReqList" resultType="ReqLeavesVO">
		<![CDATA[
		SELECT r.req_leave_no,
		       Date_format(r.req_leave_date, '%Y-%m-%d') AS req_leave_date,
		       r.leave_type,
		       A.emp_name,
		       A.deptnm,
		       Date_format(r.start_date, '%Y-%m-%d')     AS start_date,
		       Date_format(r.end_date, '%Y-%m-%d')       AS end_date,
		       r.reason,
		       r.approval
		FROM   tbl_req_leaves r
		       JOIN (SELECT e.employee_id,
		                    e.emp_name,
		                    d.DEPTID,
		                    d.deptnm
		             FROM   tbl_employee e
		                    JOIN tbl_department d
		                      ON e.DEPTID = d.DEPTID) A
		         ON r.employee_id = A.employee_id
		WHERE  req_leave_no > 0 
    	]]>
		<if test="startDate == null and endDate == null">
			AND r.req_leave_date = CURDATE()
		</if>
		<if test="startDate != null and endDate != null">
			AND r.req_leave_date between #{startDate} and #{endDate}
		</if>
		<if test="approval != null">
			AND r.approval = #{approval}
		</if>
		<if test="leaveType != null">
			AND r.leave_type = #{leaveType}
		</if>
		<if test="department != null">
			AND A.DEPTID = #{department}
		</if>
	    <![CDATA[
	    	ORDER BY r.req_leave_no ASC, r.leave_type DESC 
	    ]]>
	</select>
	
	<!-- 휴가 승인 -->
	<update id="leaveApproval">
		UPDATE tbl_req_leaves
		SET    approval = 'Y'
		WHERE  req_leave_no = #{req_leave_no} 
	</update>

	<!-- 휴가 반려 -->
	<update id="leaveRejection">
		UPDATE tbl_req_leaves
		SET    approval = 'N'
		WHERE  req_leave_no = #{req_leave_no} 
	</update>
</mapper>
  