<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bswill.mapper.NotificationMapper">
	<resultMap type="com.bswill.domain.NotificationVO" id="noti">
		<result property="employee_id" column="employee_id" />
		<result property="noti_title" column="noti_title" />
		<result property="noti_time" column="noti_time" />
		<result property="noti_check" column="noti_check" />
		<result property="read_time" column="read_time" />
		<result property="noti_link" column="noti_link" />
		<result property="noti_print" column="noti_print" />
	</resultMap>

	<!-- 알림 목록 조회 -->
	<select id="notiListSelect" resultType="NotificationVO">
		SELECT * FROM tbl_notification WHERE employee_id = #{employee_id}
	</select>

	<!-- 알림 개수 -->
	<select id="notiCount" resultMap="noti">
		SELECT COUNT(*) FROM tbl_notification WHERE employee_id = #{employee_id}
	</select>

	<!-- 알림 읽음 -->
	<update id="readNoti" parameterType="map">
    UPDATE tbl_notification SET noti_check = 1 WHERE employee_id = #{employee_id} AND noti_title = #{noti_title} AND noti_time = #{noti_time}
	</update>
	
	<!-- 알림 전체 읽음 -->
	<update id="readAllNoti" parameterType="int">
    UPDATE tbl_notification SET noti_check = 1 WHERE employee_id = #{employee_id}
	</update>
	
	<!-- 알림 삭제 -->
	<delete id="deleteNoti" parameterType="int">
		DELETE FROM tbl_notification WHERE employee_id = #{employee_id}
	</delete>

	<!-- 알림 전체 삭제 -->
	<delete id="deleteAllNoti">
		DELETE FROM tbl_notification
	</delete>

    <!-- 알림 링크 이동 -->
    <update id="link">
        UPDATE tbl_notification SET noti_check = 1 WHERE noti_link = #{noti_link}
    </update>
    
    <!-- 알림 링크 클릭하면 읽음 표시 -->
    <update id="markAsRead" parameterType="string">
    UPDATE tbl_notification SET noti_check = 1 WHERE noti_link = #{noti_Link}
    </update>
    
    <!-- 알림 출력 여부 업데이트 -->
    <update id="updatePrintStatus" parameterType="map">
        UPDATE tbl_notification
        SET noti_print = #{noti_print}
        WHERE employee_id = #{employee_id}
        AND noti_title = #{noti_title}
        AND noti_time = #{noti_time}
    </update>
</mapper>
