<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="NotificationMapper">
	<!-- DAO의 메서드가 될 것이다. -->
	
	<!-- 알림 조회 -->
	<select id="selectNoti" resultType="com.bswill.domain.NotificationVO">
	select * from notification 
	where employee_id
	</select>
	
</mapper>